test-output/
bin/
.DS_Store


.gitignore.swp


reportCollector/.settings/org.eclipse.jdt.core.prefs

*.prefs

BEATLe/src/test/java/com/elastica/beatle/tests/securlets/GmailDataProvider.java

BEATLe/src/test/java/com/elastica/beatle/tests/securlets/GMailSecurletTests.java

BEATLe/src/test/resources/securlets/suites/eoe/eoe-gmail-regression-suite.xml

BEATLe/src/test/java/com/elastica/beatle/tests/securlets/GMailSecurletTests.java




